* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background: grey;
  color: white;
}

body {
  background: #f2f2f2;
  color: #141414;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid black;
  border-radius: 4px;
}

.intro {
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.intro h1 {
  position: relative;
  margin-bottom: 10px;
}

.intro h1::after {
  content: '';
  display: block;
  width: 80px;
  height: 3px;
  background: #CC1313;
  position: absolute;
  top: 30px;
}

.intro p {
  font-weight: normal;
}

/* formulario ---------- */
.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form .col-2 {
  grid-column: span 2;
}

.form label, p {
  display: block;
  font: bold 1rem/1.5 "Arial", sans-serif;
  margin-bottom: 4px;
}

.form input[type="text"],
.form input[type="email"],
.form select,
.form textarea,
.form button {
  font: 400 1rem/1.5 "Roboto", sans-serif;
  background: #fff;
  border: 1px solid gray;
  padding: 12px;
  border-radius: 4px;
  width: 100%;
}

.form select {
  width: max-content;
}

.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form select:focus,
.form textarea:focus {
  outline: none;
  border-color: rgb(182, 182, 241);
  box-shadow: 0 0 0 2px rgb(179, 182, 182);
}

.assistir {
  display: flex;
  gap: 60px;
  padding-left: 40px;
}

.assistir label,
.personagens label {
  display: inline;
  font-weight: normal;
}

.personagens {
  display: grid;
  grid-template-columns: auto 1fr auto 1fr;
  gap: 10px;
}

.personagens p {
  grid-column: 1/-1;
}

.personagens label {
  line-height: 1;
}

.form button  {
  cursor: pointer;
  width: max-content;
  place-self: center;
  padding: 10px 60px;
  text-transform: uppercase;
  font-weight: bold;
  transition: .3s;
}

.form button:hover {
  background: rgb(75, 130, 233);
  color: #fff;
  border-color: rgb(71, 71, 133);
}

@media (max-width: 640px) {
  .container {
    margin: 20px;
  }
  .form {
    grid-template-columns: 1fr;
  }
  .form .col-2 {
    grid-column: 1;
  }
  .personagens {
    grid-template-columns: auto 1fr;
  }
}